/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  color: #212121;
  font-family: 나눔고딕, Arial, sans-serif;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 스크롤 바 */

/* width */

::-webkit-scrollbar {
  width: 15px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #f3cf08;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #006bb5;
}

/* ikea_header */

.ikea_header {
  height: 120px;
}

/* top_nav */

.top_nav_line {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  height: 46px;
  box-sizing: border-box;
}

.top_nav {
  width: 1200px;
  height: 46px;
  line-height: 46px;
  overflow: hidden;
  margin: 0 auto;
}

.top_nav a {
  font-size: 12px;
}

.top_nav .top_nav_left {
  float: left;
  overflow: hidden;
  padding-left: 90px;
}

.top_nav .top_nav_left li {
  float: left;
  padding: 0 18px 0 22px;
  background-image: url('img/top_nav_line.png');
  background-repeat: no-repeat;
  background-position: right center;
}

.top_nav .top_nav_left li:first-child {
  padding-left: 0;
}

.top_nav .top_nav_left li:last-child {
  background-image: none;
}

.top_nav .top_nav_right {
  float: right;
  overflow: hidden;
}

.top_nav .top_nav_right li {
  float: left;
  padding-left: 16px;
}

/* gnb_nav */

.gnb_nav {
  width: 1200px;
  height: 54px;
  position: relative;
  margin: 0 auto;
}

.gnb_nav h1 a {
  display: block;
  width: 165px;
  height: 29px;
  margin: 21px 0 0 90px;
  background-image: url('img/main_logo.png');
  background-repeat: no-repeat;
  text-indent: -9999px;
}

/* first level */

.gnb_nav nav {
  position: absolute;
  top: 13px;
  left: 350px;
}

.gnb_nav nav > ul {
  position: relative;
}

.gnb_nav nav > ul::after {
  content: '';
  display: block;
  clear: both;
}

.gnb_nav nav > ul > li {
  float: left;
  position: relative;
}

.gnb_nav nav > ul > li {
  padding: 0 25px 45px 25px;
}

.gnb_nav nav > ul > li:first-child {
  padding-left: 100px;
}

.gnb_nav nav > ul > li:last-child {
  padding-right: 0;
}

/* second level */

.submenu_bg {
  width: 1905px;
  display: none;
  height: 150px;
  background: rgba(241, 220, 34, 0.9);
  position: absolute;
  left: 0;
  top: 120px;
  z-index: 1;
}

.submenu {
  width: 770px;
  height: 130px;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 2;
  font-size: 14px;
  padding-top: 20px;
}

.gnb_nav nav > ul > li .submenu .submenu li {
  margin-top: 30px;
}

.submenu li a {
  display: block;
  float: left;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 125px;
  margin: 0 25px;
  margin-bottom: 10px;
}

.submenu li a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #0d6cb5;
  font-weight: 600;
}

.gnb_nav nav > ul > li .submenu li:last-child {
  margin-right: 0;
}

/* submenu place */

.submenu_place {
  display: none;
}

.submenu_place li:nth-child(7) {
  padding-right: 0;
}

/* submenu product */

.submenu_product {
  left: -155px;
  display: none;
}

.submenu_product li:nth-child(7) {
  padding-right: 0;
}

/* submenu idea */

.submenu_idea {
  display: none;
  left: -447px;
}

/* submenu event */

.submenu_event {
  display: none;
  left: -557px;
}

/* submenu story */

.submenu_story {
  display: none;
  left: -653px;
}

.submenu_story li:nth-child(5) {
  padding-right: 0;
}

/* ikea_header 끝 */

/* search */

.search_container {
  width: 1905px;
  height: 298px;
  background-image: url('img/search_bg.png');
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
}

.searchbox_wrap {
  width: 707px;
  border: 4px solid #f3cf08;
  position: absolute;
  top: 171px;
  left: 602px;
}

.searchbox {
  width: 707px;
  height: 50px;
  border: none;
  padding-left: 50px;
}

.search_btn {
  width: 26px;
  height: 26px;
  border: 0;
  position: absolute;
  left: 645px;
  top: 12px;
  background-color: #fff;
  background-image: url('img/search_btn.png');
  background-repeat: no-repeat;
}

.searchbox::placeholder {
  color: #0d6cb5;
  text-indent: 5px;
}

/* search 끝 */

/* banner */

.banner {
  width: 1905px;
  height: 605px;
  margin:0 auto;
}

.banner .banner_img ul {
  position: relative;
  height: 565px;
}

.banner .banner_img ul li {
  position: absolute;
}

.banner .banner_img ul li:nth-child(1) {
  z-index: 3;
}

.banner .banner_img ul li:nth-child(2) {
  z-index: 2;
}

.banner .banner_img ul li:nth-child(3) {
  z-index: 1;
}

.banner_inner_img {
  transition: all 1s;
  margin: 0 auto;
}

.banner .banner_btn_wrap {
  height: 40px;
  border: 1px solid #c0c0c0;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
}

.banner .banner_btn {
  margin-left: 528px;
  position: relative;
}

.banner .banner_btn .banner_btn_content {
  background-image: url('img/banner_line.png');
  background-repeat: no-repeat;
  background-position: 956px 0;
}

.banner .banner_btn .banner_btn_content li {
  display: inline-block;
  width: 313px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  background-image: url('img/banner_line.png');
  background-repeat: no-repeat;
  position: relative;
  font-weight: 500;
}

.banner .banner_btn .banner_btn_content li:nth-child(1) {
  background-position: 2px;
  color:#0d6cb5;
}

.banner .banner_btn .banner_btn_content li:nth-child(2) {
  background-position: 2px;
}
.banner .banner_btn .banner_btn_content li:nth-child(3) {
  background-position: 3px;
}



.banner_btn .btn_loading {
  width: 50px;
  height: 4px;
  background: #0d6cb5;
  position: absolute;
  transition: all 5s;
  top:35px;
  display:none;
}

.banner_btn .btn_loading02 {
  left: 319px;
}

.banner_btn .btn_loading03 {
  left: 638px
}


/*  배너 끝 */

/* 추천 상품 시작 */

.feature_product_container {
  margin: 60px 0;
}

/* product_list_container */
.product_list_container {
  overflow: hidden;
  height: 230px;
}
.product_list_container::after {
  content: '';
  display: block;
  clear:both;
}

.product_list_container ul::after {
  display: block;
  content: '';
  clear: both;
}

/* .product_tab */

.product_tab_wrap {
  width: 1200px;
  margin: 0 auto;
}

.product_tab {
  margin-left: 310px;
}

.product_tab::after {
  content: '';
  display: block;
  clear: both;
}

.product_tab span {
  float: left;
  width: 192px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  border-right: 1px solid #d2d2d2;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}

.product_tab span:nth-child(3) {
  border-right: 0;
}

.product_tab span:hover {
  background: #4169e1;
  color: #fff;
}

.on{
  background-color: #5cbd07;
  color: #fff;
  /* tab 클릭시 컬러 */
}

/* product_list  */

.product_list {
  margin: 0 auto;
  padding-top: 24px;
  padding-left: 480px;
  overflow: hidden;
  float: left;
  width:1000px;
}

.product_list li article {
  position: relative;
}

.product_list li {
  float: left;
  width: 130px;
  height: 200px;
  padding-right: 36px;
  text-align: center;
}

.product_list span {
  display: block;
  height: 13px;
  line-height: 13px;
  font-size: 11px;
}

.product_list img {
  margin-bottom: 8px;
}

.product_list .rcm_product {
  color: #4f4f4f;
}

.product_list .rcm_product_name {
  margin-bottom: 20px;
  color: #747474;
}

.product_list li:nth-child(4) .rcm_product_name {
  margin-bottom: 5px;
}

.product_list .rcm_product_price_sale_before {
  margin-bottom: 4px;
  text-decoration: line-through;
  text-decoration-color: #da2b2b;
}

.product_list .rcm_product_price {
  font-size: 15px;
  font-weight: 600;
}

.recommend{
  display: block;
}

.best {
  display: none;
}

.search {
  display: none;
}

/* bx_pager_item_wrap */

.bx_pager_item_wrap {
  position: relative;
}

.bx_pager_item_wrap .bx_pager_item_active {
  width: 13px;
  height: 13px;
  text-indent: -9999px;
  background-image: url('img/bx-pager-item_active.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  left: 975px;
}

.bx_pager_item_wrap .bx_pager_item {
  width: 13px;
  height: 13px;
  text-indent: -9999px;
  background-image: url('img/bx-pager-item.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  left: 1000px;
}

/* item_best, item_time_sale */

span.item_best a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 30px;
  background: #f87b06;
  position: absolute;
  top: -10px;
  left: 20px;
  color: #fff;
  font-weight: 600;
}

span.item_time_sale a {
  display: inline-block;
  width: 40px;
  height: 33px;
  padding-top: 7px;
  border-radius: 30px;
  background: #da2b2b;
  position: absolute;
  top: -10px;
  left: 20px;
  color: #fff;
  font-size: 10px;
}

span.item_time_sale span#sale {
  display: block;
  font-weight: 600;
  color: #fff;
}

/* feature_product_container 끝 */

/* 인테리어 시작 */

.interior_wrap {
  background: #f1f1f1;
  height: 848px;
  margin: 60px 0 0 0;
  padding-top: 60px;
}

.interior_wrap .interior_bg {
  width: 1200px;
  height: 730px;
  margin: 0 auto;
  background-image: url('img/interior_bg.png');
  position: relative;
}

.interior_wrap .interior_bg .interior_title h3 {
  font-size: 60px;
  font-weight: 900;
  color: #fff;
  text-shadow: 2px 2px #cccdcc;
  position: absolute;
  left: 72px;
  top: 331px;
}

.interior_wrap .interior_bg .interior_title p {
  font-size: 25px;
  color: #fff;
  text-shadow: 2px 2px #cccdcc;
  position: absolute;
  left: 72px;
  top: 412px;
}

.interior_wrap .interior_bg .interior_item_bg {
  width: 186px;
  height: 130px;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 13px;
  box-shadow: 2px 2px rgba(000, 000, 000, 0.3);
  font-weight: 600;
}

.interior_wrap .interior_bg .interior_item_bg a {
  display: block;
  color: #fff;
}

.interior_wrap .interior_bg .interior_item_bg h4 a {
  padding: 12px 0 8px 16px;
  font-size: 16px;
}

.interior_wrap .interior_bg .interior_item_bg a span {
  font-size: 14px;
  color: #fff;
}

.interior_wrap .interior_bg .interior_item_bg p {
  padding-left: 18px;
  line-height: 18px;
}

.interior_wrap .interior_bg .interior_rug {
  background-color: rgba(241, 195, 35, 0.8);
  border: 2px solid rgba(241, 195, 35, 0.8);
  position: absolute;
  top: 592px;
  left: 182px;
}

.interior_wrap .interior_bg .interior_chair {
  background-color: rgba(65, 105, 255, 0.8);
  border: 2px solid rgba(65, 105, 255, 0.8);
  position: absolute;
  top: 370px;
  left: 540px;
}

.interior_wrap .interior_bg .interior_light {
  background-color: rgba(92, 180, 16, 0.8);
  border: 2px solid rgba(92, 180, 16, 0.8);
  position: absolute;
  top: 150px;
  left: 790px;
}

.interior_wrap .interior_bg .interior_door {
  background-color: rgba(176, 196, 222, 0.8);
  border: 2px solid rgba(176, 196, 222, 0.8);
  position: absolute;
  top: 500px;
  right: 95px;
}

/* 인테리어 끝 */

/* 소셜미디어 #이케아 시작 */

.social_wrap {
  height: 475px;
  background-image: url('img/sns_bg.png');
  background-repeat: no-repeat;
  background-position: center;
}

.social {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.social h3 {
  padding: 74px 0 0 88px;
}

.social h3 a {
  font-size: 30px;
  font-weight: 700;
}

.social .sns_content_wrap {
  position: relative;
}

.social .sns_content {
  width: 168px;
  height: 250px;
  position: absolute;
  top: 60px;
}

.social .sns_content p:nth-of-type(1) {
  margin-bottom: 10px;
}

.social .sns_content p:nth-of-type(2) a {
  font-size: 14px;
}

.social .sns_content01 {
  left: 118px;
}

.social .sns_content02 {
  left: 384px;
}

.social .sns_content03 {
  left: 648px;
}

.social .sns_content04 {
  left: 912px;
}

.social .sns_plus {
  position: absolute;
  top: 85px;
  right: 99px;
}

.plus {
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background-image: url('img/plus.png');
  background-repeat: no-repeat;
  cursor: pointer;
}

/*   끝 */

/* 이케아서비스 시작 */


.service_wrap .service {
  width: 1200px;
  height: 315px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid #d2d2d2;
}

.service_wrap .service h3 {
  width: 148px;
  height: 146px;
  line-height: 146px;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 700;
}

.service_wrap .service .service_content ul:after {
  content: '';
  display: block;
  clear: both;
}

.service_wrap .service .service_content ul li {
  float: left;
  margin-right: 90px;
  text-align: center;
}

.service_wrap .service .service_content ul li:first-child {
  margin-left: 130px;
}

.service_wrap .service .service_content ul li a {
  display: block;
}

.service_wrap .service .service_content .service_icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}

.service_wrap .service .service_content .service_icon_01 {
  background-image: url('img/service_img01.png');
}

.service_wrap .service .service_content .service_icon_02 {
  background-image: url('img/service_img02.png');
}

.service_wrap .service .service_content .service_icon_03 {
  background-image: url('img/service_img03.png');
}

.service_wrap .service .service_content .service_icon_04 {
  background-image: url('img/service_img04.png');
}

.service_wrap .service .service_content .service_icon_05 {
  background-image: url('img/service_img05.png');
}

.service_wrap .service .service_content ul li:hover .service_icon_01 {
  background-image: url('img/service_img01_hover.png');
}

.service_wrap .service .service_content ul li:hover .service_icon_02 {
  background-image: url('img/service_img02_hover.png');
}

.service_wrap .service .service_content ul li:hover .service_icon_03 {
  background-image: url('img/service_img03_hover.png');
}

.service_wrap .service .service_content ul li:hover .service_icon_04 {
  background-image: url('img/service_img04_hover.png');
}

.service_wrap .service .service_content ul li:hover .service_icon_05 {
  background-image: url('img/service_img05_hover.png');
}

.service_wrap .service .service_content ul li span {
  display: block;
}

.service_plus {
  position: absolute;
  right: 99px;
  top: 65px;
}

/* 이케아 서비스 끝! */

/* 헬프 메뉴 시작!!!!!!!!!!!! */

.help_menu_wrap .help_menu {
  width: 1200px;
  height: 340px;
  margin: 0 auto;
}

.help_menu_wrap .help_menu ul::after {
  content: '';
  display: block;
  clear: both;
}

.help_menu_wrap .help_menu li {
  width: 340px;
  height: 220px;
  float: left;
  margin-top: 60px;
  margin-right: 90px;
}

.help_menu_wrap .help_menu li:nth-child(3) {
  margin-right: 0;
}

/* 헬프 메뉴 끝 */

/* 푸터 시작 */

.footer {
  height: 214px;
  background-color: #f6f6f6;
}

.footer .footer_content {
  width: 1150px;
  height: 148px;
  margin: 0 auto;
  border-bottom: 1px solid #bebebe;
}

.footer .footer_content::after {
  content: '';
  display: block;
  clear: both;
}

.footer .footer_content .footer_content_left {
  float: left;
  width: 575px;
}

.footer .footer_content .footer_content_left h3 {
  width: 130px;
  height: 44px;
  background-image: url('img/footer_logo.png');
  background-repeat: no-repeat;
  background-position: 25px 30px;
  text-indent: -9999px;
  padding: 30px 0 0 25px;
}

.footer .footer_content .footer_content_left ul::after {
  content: '';
  display: block;
  clear: both;
}

.footer .footer_content .footer_content_left .footer_site_link li {
  float: left;
  padding: 20px 25px 0 25px;
}

.footer .footer_content .footer_content_left .footer_site_link li a {
  font-size: 13px;
  color: #747474;
}

.footer .footer_content .footer_content_right {
  float: right;
  width: 575px;
  height: 148px;
  position: relative;
}

.footer .footer_content .footer_content_right p {
  font-size: 13px;
  color: #555454;
  margin: 62px 0 10px 236px;
}

.footer .footer_content .footer_content_right form {
  height: 63px;
}

.footer .footer_content .footer_content_right legend ,
.footer .footer_content .footer_content_right label {
  display: none;
}

.footer .footer_content .footer_content_right input {
  width: 268px;
  height: 32px;
  border: 1px solid #bebebe;
  background: none;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  left: 238px;
}

.footer .footer_content .footer_content_right input::placeholder {
  color: #747474;
  text-indent: 10px;
  font-size: 13px;
}

.footer .footer_content .footer_content_right button {
  width: 62px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #bebebe;
  background: none;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  color: #747474;
  position: absolute;
  left: 505px;
}

.footerinfo_wrap {
  width: 1150px;
  margin: 0 auto;
  position: relative;
}

.footerinfo_wrap .footer_personal_info::after {
  display: block;
  content: '';
  clear: both;
}

.footerinfo_wrap .footer_personal_info li {
  float: left;
  padding: 22px 13px 0 25px;
}

.footerinfo_wrap .footer_personal_info li a {
  font-size: 11px;
  color: #7f7f7f;
}

.footerinfo_wrap .footer_personal_info li:nth-child(2) a {
  color: #f1ca48;
}

.footerinfo_wrap .footer_sns {
  position: absolute;
  right: 17px; top: 16px;
}

.footerinfo_wrap .footer_sns li {
  display: inline-block;
  margin-right: 10px;
}
